



@import url('https://fonts.googleapi s.com/css?family=Merienda:wght@400; 700&display=swap');





{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{


font-family: 'merienda';

    background: url(fondo-pan.jpg);   
    background-attachment: fixed;
    background-size: cover;
}






.redes a img{
width: 40px;
display: inline-block;
margin: 15px;



}

.info{

 background-color: #000;
color: #fff;
padding: 20px;
text-aling: center;
}




header{
max-width: 1500px;
margin: auto;
padding: 30px;
display: flex;
justify-content: space-between;
alingn-items: center;
}

NAV UL{
DISPLAY: FLEX;
LIST-STYLE: NONE;
}
NAV UL LI{
MARGIN: 0 20PX;
}
NAV UL LI A{
TEXT-DECORATION: NONE;
COLOR: #FFF;
}

nav ul li a:hover{
text-decoration: underline;
}

section{
padding-top 100px;
text-aling: center;
}

section h1{
font-size: 80px;
color: #fff;
}


section a{
text-decoration: none;
color: #fff;
border: 3px solid #fff;
padding: 10px 15 px;
font-zize: 18px;
}














